*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}
.main-container{
    min-height: 100vh;
    background: url(../images/bg1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.content{
    position: absolute;
    top: 35%;
    left: 90px;
}

h1{
    font-size: 100px;
    font-weight: bolder;
}
span{
    color: blueviolet;
}
p{
    font-size: 24px;
    font-family: cursive;
    margin-top: 10px;
}
button{
    padding: 16px 50px;
    border: 3px solid #00aeff;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 10px;
    background: transparent;
    color: #00aeff;
}
a{
    font-size: 18px;
    text-decoration: none;
    color: #00aeff;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
    background-color: #00aeff;
    border-color: aliceblue;
    color: white;
}
a:hover{
    color: aliceblue;
}