<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Klasifikasi MP-ASI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dash.css') }}">
</head>
<style>
  
</style>
<body>
    <div class="main-container">
        <div class="content">
            <h1>Sistem Klasifikasi<span> <br>MP-ASI</span></h1>
            <p>"Menyusui, Menyempurnakan: MP-ASI Kunci Nutrisi Optimal untuk Si Kecil!"</p>
            <button><a href="/recommendation">Mau Makan Apa ya?</a></button>
        </div>
        
    </div>
    
</body>
</html>